body {
    background-color: lightblue;
}


.center {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    width: 50%;
    height: 30%;
    background: #1d6d80;
    padding: 10px;
}